@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keyframes for animations */
@keyframes fadeInScaleUp {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.welcome-to {
  opacity: 0;
  animation: fadeInScaleUp 0.8s ease-out forwards;
}

.danuma {
  opacity: 0;
  animation: slideFromLeft 1s ease-out forwards;
  animation-delay: 0.3s;
}

.institute {
  opacity: 0;
  animation: fadeInScaleUp 0.8s ease-out forwards;
  animation-delay: 0.6s;
}

.login-button {
  opacity: 0;
  animation: bounceIn 1s ease-out forwards;
  animation-delay: 1s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}



@keyframes fadeInScaleUp {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.nav-item {
  opacity: 0;
  animation: fadeInScaleUp 0.6s ease-out forwards;
}

.nav-item-1 {
  animation-delay: 0.2s;
}

.nav-item-2 {
  animation-delay: 0.4s;
}

.nav-item-3 {
  animation-delay: 0.6s
}

.nav-item-4 {
  animation-delay: 0.8s;
}

.nav-item-5 {
  animation-delay: 1s;
}

/* Basic Hamburger Icon */
.hamburger {
  position: relative;
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hamburger div {
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 5px;
  transition: all 0.3s ease-in-out; 
}

/* Animation to turn hamburger into cross */
.hamburger.open div:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  top: 0;
}

.hamburger.open div:nth-child(2) {
  opacity: 0; /* Hide the middle line */
}

.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  bottom: 0;
}

.hamburger div:nth-child(1), .hamburger div:nth-child(3) {
  transition: transform 0.4s ease, top 0.4s ease, bottom 0.4s ease;
}

.hamburger.open div:nth-child(1) {
  top: 50%;
  transform-origin: 50% 50%;
}

.hamburger.open div:nth-child(3) {
  bottom: 50%;
  transform-origin: 50% 50%;
}




